 <%= link_to user do%>
 <li class="user-card  p-5" >
    <div class="user-img">
        <img src=<%= user.photo%> width="100px" height="100px" class="user-photo rounded-md">
    </div>
    <div class="user-info bg-gray-200 border-2  rounded-md w-[500px] hover:bg-gray-400">
        <h2 class="font-bold text-2xl"><%= user.name %></h2>
        <h2 class="post-counter font-semibold text-sm text-gray-400">Number of posts: <%= user.post_counter %></h2>
    </div>
 </li>
 <% end %>