<h1 class="user-title font-bold text-4xl my-10"> Welcome To User Page</h1>
<div class="user-container">
    <ul class="w-[70%] mx-auto">
        <%= render partial: 'user', collection: @users%>
    </ul>
</div>